.loading{
    display: none;
}
.loading-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
}
.loading-icon {
    position: fixed;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    border: 2px solid #f3f3f3;
    border-bottom: none;
    animation: spin 2s linear infinite;
    border-radius: 50%;
}

.select-row {
    background-color: #01916026 !important;
}
input:checked ~ .checkmark {
    background-color: red!important;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
