@import url('/css/common/common.css');
@import url('/css/common/header.css');
@import url('/css/common/navbar.css');
@import url('/css/common/content.css');
@import url('/css/common/logo.css');
@import url('/css/common/paging-bar.css');
@import url('/css/page/employee.css');
@import url('/css/common/dialog.css');
@import url('/css/common/notification.css');
@import url('/css/fontawesome-free-5.15.1-web/css/all.css');

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../../content/font/Google Sans/GoogleSans-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Thin';
    src: url('../../content/font/Google Sans/GoogleSans-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../../content/font/Google Sans/GoogleSans-Italic.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../../content/font/Google Sans/GoogleSans-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Medium';
    src: url('../../content/font/Google Sans/GoogleSans-Medium.otf') format('opentype');
}
body {
    font-family: GoogleSans-Regular;
    font-size: 13px;
    margin: 0;

}
.main {
    display: flex;
    position: relative;
}
.layout-left{
    width:220px;
    height:100vh;

}
.layout-left .logo{
    width: 100%;
    height: 48px;
}
    .layout-left .logo-img {
        height: 30px;
        width: auto;
        padding-bottom: 8px;
    }
    .layout-right {
        width: calc(100% - 221px);
        height: 100vh;
        border-left: 1px solid #BBBBBB;
    }